services:
  embedding-service:
    build:
      context: ../
      dockerfile: Dockerfile
    #image: ghcr.io/moda20/mes:latest
    ports:
      - "8000"
    environment:
      TRANSFORMERS_CACHE: ${MODEL_CACHE_DIR:-/app/model_cache}
    volumes:
      - model_cache:/app/model_cache
    restart: unless-stopped
    deploy:
      replicas: 1
  nginx:
    image: nginx:latest
    ports:
      - "8004:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro # Nginx configuration mount
volumes:
  model_cache:
    driver: local