name: CI/CD Pipeline

on:
  push:
    branches:
      - master

jobs:
  build-and-push:
    permissions: write-all
    runs-on: ubuntu-latest
    steps:
      - name: Free disk space
        run: |
          echo '===== Before ====='
          df -h
          sudo rm -rf /opt/hostedtoolcache/go
          sudo rm -rf /opt/hostedtoolcache/CodeQL
          sudo rm -rf /usr/lib/google-cloud-sdk
          sudo rm -rf /usr/local/julia*
          sudo rm -rf /usr/local/.ghcup
          sudo rm -rf /usr/share/swift
          sudo rm -rf /usr/share/dotnet
          sudo apt-get clean
          echo '===== After ====='
          df -h
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Log in to GHCR
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: |
            ghcr.io/${{ github.repository_owner }}/mes:latest
            ghcr.io/${{ github.repository_owner }}/mes:${{ github.sha }}
          platforms: linux/amd64,linux/arm64

      - name: Dump disk usage on failure
        if: failure()
        run: |
          df -h
          du -xh / --max-depth=3 2>/dev/null | sort -h | tail -50
